@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.advisor-cont>h1{
    color:#55ad7b;
    margin-bottom: 15px;
}
.advprofile-cont{
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
}
.advisor-cont{
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    font-family: 'poppins';


}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    width:30%;
    background-color: #f4f4f7;
    margin: 10px;
    padding:30px;

}
.profile:hover{
    background-color: #55ad7b3a;
    color: white;
}
.profile > img{
    width:80px;
    height: 80px;
    border-radius: 50%;
    border:5px solid rgba(128, 128, 128, 0.306);
}
.profile >p{
    color: white;
}