@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    display:flex;
    border-top:1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid gray;
}
.textcont{
    font-family: "poppins";
    width:50%;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textcont >p{
    color:gray;
    font-size: 14px;

}
.textcont>h1{
    font-size: 3rem;
}
.textcont>button{
    background: linear-gradient(115deg, #f9ce349f, #ee2a7cae, #6228d77c);
    border-radius:20px;
    padding:15px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border:0;
    margin-top: 20px;
}