@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/*.navbar {
    height: 60px;
    background-color: #ebeffe;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.user {
    display: flex;
    gap: 20px; 
}

.user button {
    background-color: transparent;
    color: #55ad7b;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #55ad7b;
    font-size: medium;
    font-weight: bold;
}

.linklist {
    display: flex;
    gap: 20px; 
}

.linklist li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: #55ad7b;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #55ad7b;
    transition: width 0.5s ease;
}

a:hover {
    color: #fff;
}

a:hover::after {
    width: 100%;
}
*/
.navbar {
    height: 60px;
    background-color: #ebeffe;
    color: black;
    display: flex;
    padding: 10px;
    padding-left: 30px;
    justify-content: space-between;
    padding-top: 15px;
    /*font-family: "Roboto Condensed", sans-serif; */
    font-family: poppins;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 1000;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2px;

}

a {
    color: #55ad7b;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.linklist a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease;
}

a:hover {
    color: #fff;
}

a:hover::after {
    width: 100%;
}

.user > button {
    background-color: transparent;
    color: #55ad7b;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    border: #55ad7b;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}

.navbar li {
    color: #55ad7b;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.navbar li:hover {
    cursor: pointer;
    border: 0;
  /* border-bottom: 2px solid #55ad7b; */
}

.linklist {
    display: flex;
    width: 50% !important;
    justify-content: space-between;
   
}

li {
    list-style: none;
} 

    
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");


.navbar{
    height: 60px;
    background-color: #ebeffe;
    color:black;
    display: flex;
    padding: 10px;
    padding-left: 30px;
    justify-content: space-between;
    padding-top: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-family: poppins; 
    position: fixed;
    width: 97%;
    align-items: center;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
a{
    color:#55ad7b;
    font-size: 18px;

    font-weight:bold;
    text-decoration: none;
}
.user> button{
   background-color: white; 
   background-color: transparent;
    color:#55ad7b;
    border-radius: 10px;
    height: fit-content;
    padding:10px;
    border: #55ad7b;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}
.navbar li{
    color:#55ad7b;
   display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

  
    
}

.navbar li:hover {
   cursor: pointer;
    border:0;
    border-bottom: 2px solid #55ad7b; 
}
.linklist{
    display: flex;
    width: 50% !important;
    justify-content: space-between;

}
li{
    list-style: none;
} */